html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video { margin: 0; padding: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, th, var, optgroup { font-style: normal; font-weight: normal }
ins { text-decoration: none }
li { list-style: none }
table { font-size: inherit; font: 100%; border-collapse: collapse; border-spacing: 0 }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
q:before, q:after { content: '' }
abbr, acronym { border: 0; font-variant: normal }
legend { color: #000 }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit }
input, button, textarea, select { margin: 0; *font-size:100%;
line-height: 1.2 }
a img, img { -ms-interpolation-mode: bicubic }
sub, sup { vertical-align: baseline }
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote { display: block }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
.clearfix { zoom: 1 }

body{ font:12px/1.5 'microsoft yahei', arial; }
a{ text-decoration:none; }
a:hover{ text-decoration:underline; }
img{ vertical-align:bottom; }

/* background-image */
.img_bar s,
.img_list .icon_new,
.img_list .icon_hot,
.share_list a{ background:url(../img/icon_sprites.png) no-repeat 0 0; }

/* @module tab_style */
.ecope_tab{ width:290px; }
.ecope_tab .tab_content div{ width:290px; }
.ecope_tab .tab_content h3{ font-size:14px; font-weight:700; height:30px; line-height:30px; overflow:hidden; color:#ccc; padding:0 10px; }
.ecope_tab .tab_content .date{ font-size:12px; padding-left:5px; }
.ecope_tab .tab_menu{ height:40px; box-shadow:0 2px 2px -2px rgba(0, 0, 0, 0.2); }
.ecope_tab .tab_menu li{ width:96px; height:40px; line-height:40px; float:left; cursor:pointer; background:#eee; border-right:1px solid #dedede; font-weight:400; font-size:15px; color:#333; text-align:center; }
.ecope_tab .tab_menu li:last-child{ border:0 none; }
.ecope_tab .tab_menu .current{ background:#dedede; border-color:#dedede; }
.ecope_tab .tab_box{ height:510px; overflow:hidden; }

/* likescrollbar style */
.ecope_likescrollbar{ width:12px; height:12px; opacity:0.4; visibility:hidden; }
.ecope_likescrollbar:hover{ opacity:0.8; }
.ecope_likescrollbar .lsb_track{ width:8px; height:8px; background:#c6c6c6; }
.ecope_likescrollbar .lsb_thumb{ width:12px; height:12px; background:#1a1a1a; top:-2px; left:-2px; }

.img_list{ width:290px; overflow:hidden;min-height: 100%;}
.img_list .img_tit{ color:#333; height:22px; line-height:22px; overflow:hidden; padding:0 10px; }
.img_list .icon_new,
.img_list .icon_hot{ display:inline-block; width:12px; height:12px; background-position:0 -48px; margin-right:5px; vertical-align:middle; }
.img_list .icon_hot{ background-position:0 -70px; }
.img_list .img_box{ width:290px; overflow:hidden; position:relative; display: block}
.img_list .img_count{ padding:0 10px; height:25px; line-height:25px; color:#fff; background:rgba(0, 0, 0, 0.5); position:absolute; right:0; bottom:10px; }

.img_bar{ height:35px; line-height:35px; overflow:hidden; border-bottom:1px solid #ececec; }
.img_bar li{ float:left; margin-left:10px; position:relative; }
.img_bar a{ color:#666; }
.img_bar s{ float:left; }
.img_bar .icon_share{ background-position:0 -25px; width:10px; height:13px; margin:11px 5px 0 0; }
.img_bar .icon_mobile{ width:9px; height:13px; margin:11px 5px 0 0; }
.img_bar .img_share{ padding-right:20px; }
.share_list{ position:absolute; width:135px; top:8px; left:50px; display:none; }
.img_bar .share_list li{ position:static; margin:0 10px 0 0; }
.share_list a{ display:block; text-indent:-999em; }
.share_list .weibo{ background-position:0 -118px; width:19px; height:16px; }
.share_list .tweibo{ background-position:0 -144px; width:14px; height:16px; }
.share_list .qzone{ background-position:0 -170px; width:17px; height:15px; }
.share_list .renren{ background-position:-1px -92px; width:16px; height:16px; }
.share_list .douban{ background-position:0 -197px; width:16px; height:16px; }

.bottom {padding: 10px 10px;}
.bottom span {font-size: 16px; color: #666;}
.bottom ul li {display: inline-block;}
.bottom ul li a {font-family: "宋体";color: #3EAF0E;}

.loading {margin-left: 45%; margin-top: 50%;}